{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-secondary">{{task.title}}</h1>

            {{error}}
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary"> Update</button>
                </form>
            <div class="mt-5 d-flex">
                
            
                <form action="{% url 'complete_task' task.id %}" method="POST">
                    {% csrf_token %}
                <button class="btn btn-secondary">Complete</button>
                </form>
            
                <form action="{% url 'delete_task' task.id %}" method="POST">
                    {% csrf_token %}
                <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        
        </div>
    </div>
</main>
    {% endblock %}
    
</body>
</html>